# Auto detect text files and perform LF normalization
* text=auto
*.mp4 filter=lfs diff=lfs merge=lfs -text
Vehicle[[:space:]]Speed[[:space:]]Estimation[[:space:]]from[[:space:]]Drone[[:space:]]Footage/*.mp4 filter=lfs diff=lfs merge=lfs -text
